.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.foo{
  text-decoration: none;
  font-size: 20px;
  /* font-family: 'times'; */
  letter-spacing: 1px;
  word-spacing: 50px;
}

.foo:hover{
  color: orange;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
